@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-thin-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-mono-extralight-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-mono-light-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-medium-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

:root {
  --Gray-25: #fcfcfd;
  --Gray-50: #f9fafb;
  --Gray-100: #f2f4f7;
  --Gray-200: #eaecf0;
  --Gray-300: #d0d5dd;
  --Gray-400: #98a2b3;
  --Gray-500: #667085;
  --Gray-600: #475467;
  --Gray-700: #344054;
  --Gray-800: #182230;
  --Gray-900: #101828;
  --Gray-950: #0c111d;
  --shadow1: #0c111d30;
  --Success-600: #079455;
  --glassWhite: #ffffff75;

  /* DARK GRAY */

  --Gray2-25: #fafafa;
  --Gray2-50: #f5f5f6;
  --Gray2-100: #f0f1f1;
  --Gray2-200: #ececed;
  --Gray2-300: #cecfd2;
  --Gray2-400: #94969c;
  --Gray2-500: #85888e;
  --Gray2-600: #61646c;
  --Gray2-700: #333741;
  --Gray2-800: #1f242f;
  --Gray2-900: #161b26;
  --Gray2-950: #0c111d;
  --shadow2: #0c111d;
  --Success-400: hsl(153, 91%, 40%);
  --glassBlack: #00000075;

  font-size: 16px;
}

body {
  --bg-primary: var(--Gray-50);
  --bg-secondary: var(--Gray-100);
  --bg-tertiary: var(--Gray-200);
  --bg-solid: var(--Gray-950);

  --text-primary: var(--Gray-900);
  --text-secondary: var(--Gray-700);
  --text-tertiary: var(--Gray-600);
  --text-success: var(--Success-600);

  --border-primary: var(--Gray-200);
  --border-secondary: var(--Gray-300);

  --shadow: var(--shadow1);
  --glass: var(--glassWhite);
  --fg-primary: var(--Gray-900);
  --fg-secondary: var(var(--Gray-700));
  --text-alpha: var(--Gray-25);

  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  color: var(--text-tertiary);
}

body.dark-theme {
  --bg-primary: var(--Gray2-900);
  --bg-secondary: var(--Gray2-800);
  --bg-tertiary: var(--Gray2-700);
  --bg-solid: var(--Gray2-950);

  --text-primary: var(--Gray-50);
  --text-secondary: var(--Gray2-200);
  --text-tertiary: var(--Gray2-300);
  --text-success: var(--Success-400);

  --border-primary: var(--Gray-700);
  --border-secondary: var(--Gray-600);

  --shadow: var(--shadow2);
  --glass: var(--glassBlack);
  --fg-primary: var(--Gray-100);
  --fg-secondary: var(var(--Gray-300));
  --text-alpha: var(--Gray-950);

  background-color: var(--bg-primary);

  img {
    filter: brightness(0.8) contrast(1.2);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-primary: var(--Gray2-900);
    --bg-secondary: var(--Gray2-800);
    --bg-tertiary: var(--Gray2-700);
    --bg-solid: var(--Gray2-950);

    --text-primary: var(--Gray-50);
    --text-secondary: var(--Gray2-200);
    --text-tertiary: var(--Gray2-300);
    --text-success: var(--Success-400);

    --border-primary: var(--Gray-700);
    --border-secondary: var(--Gray-600);
    --shadow: var(--shadow2);
    --glass: var(--glassBlack);
    --fg-primary: var(--Gray-100);
    --fg-secondary: var(var(--Gray-300));
    --text-alpha: var(--Gray-950);

    background-color: var(--bg-primary);
    color: var(--text-tertiary);
  }

  body.light-theme {
    --bg-primary: var(--Gray-50);
    --bg-secondary: var(--Gray-100);
    --bg-tertiary: var(--Gray-200);
    --bg-solid: var(--Gray-950);

    --text-primary: var(--Gray-900);
    --text-secondary: var(--Gray-700);
    --text-tertiary: var(--Gray-600);
    --text-success: var(--Success-600);

    --border-primary: var(--Gray-200);
    --border-secondary: var(--Gray-300);
    --shadow: var(--shadow1);
    --glass: var(--glassWhite);
    --fg-primary: var(--Gray-900);
    --fg-secondary: var(var(--Gray-700));
    --text-alpha: var(--Gray-25);

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
  }
  img {
    filter: brightness(0.8) contrast(1.2);
  }
}

h1 {
  font-family: "IBM Plex Mono";
  font-size: clamp(1.125rem, 7vh, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-primary);
}
h2 {
  font-family: "Roboto Mono";
  font-size: clamp(var(0.875rem, 6vh, 1.125rem));
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--text-secondary);
}
h3 {
  color: var(--text-secondary);
  font-family: "Roboto Mono";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 2.4px;
}
h4 {
  color: var(--text-secondary);
  font-family: "IBM Plex Mono";
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 150%;
}

p {
  color: var(--text-tertiary);
  font-family: "Roboto Mono";
  max-width: 720px;
  font-size: clamp(0.85rem, 4vh, 0.85rem);
  color: var(--text-tertiary);
}

.btn {
  display: inline;
  font-family: "IBM Plex Mono";
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 1px;

  padding: 0.75em 1em;
  border-radius: 0.5em;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--shadow);
  transition: all 0.3s ease-out;
  &:hover {
    transform: scale(1.05);
  }

  &.btn-primary {
    border: 1px solid var(--border-primary);
    color: var(--text-alpha);
    background-color: var(--fg-primary);
  }

  &.btn-secondary {
    background-color: var(--bg-tertiary);
    color: var(--text-tertiary);
    border: 1px solid var(--border-secondary);
  }

  * {
    margin: 0;
  }
}

header#header {
  border-bottom: 1px solid var(--border-primary);
  position: fixed;
  background-color: var(--bg-primary);
  mix-blend-mode: normal;
  inset-inline: 0;
  z-index: 10;

  h1 {
    text-transform: uppercase;
    line-height: 100%;
  }
}

section#banner {
  overflow: hidden;

  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(12, 17, 29, 0.5) 0%,
      rgba(16, 24, 40, 0.5) 100%
    ),
    var(--Gray-950, #0c111d);

  .sun {
    will-change: transform;
    transform-origin: top center;
    top: 12%;
    left: 50%;
    transform: translate(-50%, 0%);
    .sun-ray {
      position: absolute;
      width: 770px;
      height: 706px;
      scale: 1.05;
      overflow: hidden;
      border-radius: 9000px;
      opacity: 0.1;
      background: rgba(255, 215, 0, 0.5);
      background-blend-mode: hue;
      mix-blend-mode: hard-light;
      flex-shrink: 0;
      z-index: 1;
    }
    .sun-front {
      width: 770px;
      height: 706px;
      flex-shrink: 0;
      border-radius: 9000px;
      background: linear-gradient(
        0,
        rgba(82, 66, 20, 0.9) 0%,
        #0a0200 60%,
        #b96a5b 99%
      );
      mix-blend-mode: lighten;
      z-index: 2;
    }
  }

  h1 {
    z-index: 4;
    text-align: center;
    font-family: "IBM Plex Mono";
    font-size: clamp(8rem, 20vw, 20rem);
    font-style: normal;
    font-weight: 200;
    line-height: 80%; /* 220.16px */

    -webkit-text-stroke: 2px transparent;
    background: no-repeat url("../asset/images/background.png");
    background-size: contain;
    background-position: center;

    color: transparent;
    position: relative;
  }
}

section#hero {
  overflow: hidden;
  background-color: var(--bg-tertiary);
  #backgroundGrid {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);

    line {
      stroke: var(--border-secondary);
    }
  }
  .section {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 58% 38%;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    background-color: var(--bg-primary);
    border: 2px solid var(--border-primary);
  }
  .textContent {
    display: flex;
    width: 100%;

    .textdiv {
      width: 100%;
    }
    /* flex-grow: 2 !important; */
    h1 {
      height: 2.5em;
    }
    h1 .typed-cursor {
      color: green;
      -webkit-animation: hide-cursor 0s forwards;
      -webkit-animation-delay: 20s;
      animation: hide-cursor 0s forwards;
      animation-delay: 20s;
    }
    .workStatus {
      font-family: "Roboto Mono";

      .open {
        color: var(--Success-600, #079455);
        font-family: "IBM Plex Mono";
      }
    }

    .scroller {
      border: 1px solid var(--border-secondary);
      max-width: 760px;

      .tag-list {
        list-style: none;

        li {
          padding: 0.85rem;
          background-color: var(--bg-secondary);
          color: var(--text-tertiary);
          border-radius: 0.5rem;
          border: 1px solid var(--border-secondary);
          box-shadow: 0 0.5rem 1rem -0.25rem var(--shadow);
        }
      }
    }

    .scroller__inner {
      padding-block: 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    .scroller[data-animated="true"] {
      overflow: hidden;
      --webkit-mask: linear-gradient(
        90deg,
        transparent,
        var(--bg-tertiary) 20%,
        var(--bg-tertiary) 80%,
        transparent
      );
      mask: linear-gradient(
        90deg,
        transparent,
        var(--bg-tertiary) 20%,
        var(--bg-tertiary) 80%,
        transparent
      );

      .scroller__inner {
        width: max-content;
        flex-wrap: nowrap;
        animation: scroll 40s linear infinite;
      }
    }
  }

  .imageContent {
    position: relative;

    #portrait {
      will-change: transform;
      transform-origin: top center;
      display: block;

      width: 100%;
      height: 100%;
      border: 1px solid var(--border-secondary);
      aspect-ratio: 1/1;
      object-fit: cover;
      img {
        /* display: block !important; */
        border-radius: 1rem;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center bottom 0 -30%;
      }
    }
    #circularText {
      box-sizing: content-box;
      position: absolute;

      width: 160px;
      height: 160px;
      border-radius: 2000px;
      border: 2px rgba(255, 255, 255, 0.5);
      background-color: rgba(18, 18, 18, 0.46);
      /* padding: 0.25rem; */
      backdrop-filter: blur(6px);

      #circular {
        will-change: transform;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        transform-origin: center;
        animation: rotate 20s linear infinite;
      }

      #initials {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid hsla(0, 0%, 100%, 0.75);
        border-radius: 2000px;
        color: white;
        p {
          color: white;
          font-family: "IBM Plex Mono";
          font-size: 1.95rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
  }
  text {
    font-size: clamp(1.5rem, 16vh, 2.75rem);
  }
}
.text-nowrap {
  text-wrap: nowrap;
  white-space: nowrap;
}

section#portfolio {
  background-color: var(--bg-primary);
  #portfolioHeading {
    #portfolioTitle {
      color: var(--text-primary);
    }
    #portfolioTitle::after {
      content: "🪴";
      font-size: 1.5em;
      margin-left: 0.5rem;
    }
  }

  #portfolioContent {
    .card {
      will-change: transform;
      cursor: pointer;
      .card-image {
        background-color: var(--bg-secondary);
        border: 1px solid var(--border-primary);

        .imageBox {
          transform: scale(1);
          transition: transform 0.3s ease-out;
          position: relative;
          /* background-color: var(--bg-primary); */

          .img-glass {
            position: absolute;
            display: flex;
            width: auto;
            height: 90%;
            border: 1px solid var(--border-secondary);
            background-color: var(--glass);
            max-width: none;
            max-height: 90%;

            border-radius: 10px;
            padding: 4px;
            backdrop-filter: blur(6px);

            .imageGroup {
              display: inline-block;
              /* min-width: fit-content; */
              width: auto;
              height: fit-content;

              .battle {
                position: absolute;
                width: auto;
                height: auto;

                max-width: none;
                max-width: none;
                object-fit: cover;
                /* border: 1px solid red; */
              }
              .battle-1 {
                position: relative;
              }
              .battle-2 {
                max-width: 40%;
                transform: translate(0, -100%);
              }
              .battle-3 {
                max-width: 30%;
                transform: translate(220%, -100%);
              }
            }

            .projectImage {
              display: block;
              border-radius: 4px;
              overflow: clip;
              object-fit: cover;
              width: auto;
              height: auto;
              max-height: 100% !important;
            }
          }

          .img-glass:has(.imageGroup) {
            height: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transform-origin: center;
          }
          .img-glass:has(.todo) {
            top: 50%;
            transform: translate(0, -50%);
          }
          .img-glass:has(.todo-1) {
            right: 7%;
          }
          .img-glass:has(.todo-2) {
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .img-glass:has(.todo-3) {
            left: 7%;
          }
          .img-glass:has(.weather) {
            scale: 0.9 1;
            object-fit: cover;
            top: 50%;
            transform: translate(0, -50%);
          }
          .img-glass:has(.weather-1) {
            right: 6%;
          }
          .img-glass:has(.weather-2) {
            left: 50%;
            transform: translate(-50%, -50%);
            transform-origin: left;
          }
          .img-glass:has(.weather-3) {
            left: 6%;
          }
          .img-glass:has(.restaurant-1) {
            right: 0;
            top: 0%;
          }
          .img-glass:has(.restaurant-2) {
            left: 0%;
            bottom: 0;
          }
          .img-glass:has(.tic-1) {
            right: 0;
            top: 0%;
          }
          .img-glass:has(.tic-2) {
            left: 0%;
            bottom: 0;
          }
          .img-glass:has(.calc-1) {
            right: 0;
            top: 0%;
          }
          .img-glass:has(.calc-2) {
            left: 0%;
            bottom: 0;
          }
        }
        /* .imageBox::before {
          content: "Portfolio image placeholder";
          position: absolute;
          font-size: 0.75rem;
          font-style: italic;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: var(--text-tertiary);
        } */
      }
      .card-content {
        padding: 0 0.5em;
        .description {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
        }
        .year {
          font-weight: 600;
        }
      }
    }
    .card:hover {
      .card-image {
        .imageBox {
          transform: scale(1.05);
        }
      }
    }
  }
}

#cardDetail {
  #cardDetailHeading {
  }
  .content {
    .card-image {
      background-color: var(--bg-secondary);
      border: 1px solid var(--border-primary);
      cursor: pointer;
      .imageBox {
        transform: scale(1);
        transition: transform 0.3s ease-out;
        position: relative;
        /* background-color: var(--bg-primary); */

        .img-glass {
          position: absolute;
          display: flex;
          width: auto;
          height: 90%;
          border: 1px solid var(--border-secondary);
          background-color: var(--glass);

          border-radius: 10px;
          padding: 4px;
          backdrop-filter: blur(6px);

          .imageGroup {
            display: inline-block;
            /* min-width: fit-content; */
            width: auto;
            height: fit-content;

            .battle {
              position: absolute;
              width: auto;
              height: auto;

              max-width: none;
              max-width: none;
              object-fit: cover;
              /* border: 1px solid red; */
            }
            .battle-1 {
              position: relative;
            }
            .battle-2 {
              max-width: 40%;
              transform: translate(0, -100%);
            }
            .battle-3 {
              max-width: 30%;
              transform: translate(220%, -100%);
            }
          }

          .projectImage {
            display: block;
            border-radius: 4px;
            overflow: clip;
            object-fit: cover;
            width: auto;
            height: auto;
            max-height: 100% !important;
          }
        }

        .img-glass:has(.imageGroup) {
          height: auto;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transform-origin: center;
        }
        .img-glass:has(.todo) {
          top: 50%;
          transform: translate(0, -50%);
        }
        .img-glass:has(.todo-1) {
          right: 7%;
        }
        .img-glass:has(.todo-2) {
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .img-glass:has(.todo-3) {
          left: 7%;
        }
        .img-glass:has(.weather) {
          scale: 0.9 1;
          object-fit: cover;
          top: 50%;
          transform: translate(0, -50%);
        }
        .img-glass:has(.weather-1) {
          right: 6%;
        }
        .img-glass:has(.weather-2) {
          left: 50%;
          transform: translate(-50%, -50%);
          transform-origin: left;
        }
        .img-glass:has(.weather-3) {
          left: 6%;
        }
        .img-glass:has(.restaurant-1) {
          right: 0;
          top: 0%;
        }
        .img-glass:has(.restaurant-2) {
          left: 0%;
          bottom: 0;
        }
        .img-glass:has(.tic-1) {
          right: 0;
          top: 0%;
        }
        .img-glass:has(.tic-2) {
          left: 0%;
          bottom: 0;
        }
        .img-glass:has(.calc-1) {
          right: 0;
          top: 0%;
        }
        .img-glass:has(.calc-2) {
          left: 0%;
          bottom: 0;
        }
      }
      /* .imageBox::before {
        content: "Portfolio image placeholder";
        position: absolute;
        font-size: 0.75rem;
        font-style: italic;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--text-tertiary);
      } */
    }
    .card-content {
      .year {
        font-weight: 600;
      }
    }
  }
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes hide-cursor {
  to {
    display: none;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  :root {
    font-size: 12px;
  }

  section#hero {
    .section {
      grid-template-columns: 48% 48%;
      .textContent {
        width: 100%;
      }
      .textContent {
        h1 {
          font-size: clamp(0.3rem, 5vw, 1.3rem);
        }
      }
      .imageContent {
        width: 100%;
        #circularText {
          text {
            font-size: 3.7rem;
          }
        }
      }
    }
  }

  section#portfolio {
    #portfolioContent {
      .img-glass {
        height: 90% !important;
      }
    }
    #portfolioContent {
      .card {
        .card-content {
          .description {
            display: none !important;
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  section#banner {
    .sun {
      scale: 0.35;
      top: 10%;
      left: 0%;
      transform: translate(-65%, 0%);
    }
  }

  section#hero {
    .section {
      border: none;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .textContent {
      h1 {
        font-size: clamp(0.2rem, 4vw, 1.25rem);
        color: var(--text-primary);
      }

      p.description {
        display: none;
      }
    }
  }

  section#hero {
    .textContent {
      flex-grow: 0;
    }
    .imageContent {
      flex-grow: 0;
      width: 100%;
    }
  }

  section#portfolio {
    #portfolioContent {
      .card {
        .card-content {
          .description {
            display: none !important;
          }
        }
      }
    }
  }
}
